* {
	box-sizing: border-box;
}

body {
	background-color: #cfbbbb;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin-top: 350px;
	display: flex;
}

.quiz-result {
	display: flex;
	text-align: center;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
	color: #333;
	font-size: 2.5rem;
	margin-left: 5rem;
	margin-top: 0;
}

#highScore {
	display: flex;
	color: #666;
	padding: 1rem;
	text-align: center;
	margin-left: 14rem;
	height: 60px;
	width: 180px;
	max-width: 600px;
	font-size: small;
	font-size: 1rem;
	border-radius: 39px;
	border: 0px;
	margin-bottom: 5rem;
	margin-top: 0px;
}

#msg {
	display: flex;
	color: #666;
	padding: 1rem;
	text-align: center;
	margin-left: 13rem;
	height: 60px;
	width: 180px;
	max-width: 600px;
	font-size: small;
	font-size: 1rem;
	border-radius: 39px;
	border: 0px;
	margin-bottom: 4rem;
}
.img {
	padding-bottom: 1px;
	margin-left: 0px;
}

button {
	padding: 10px 20px;
	font-size: 1rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

button:hover {
	background-color: #0056b3;
}

#subnav {
	background-color: inherit;
}

.score {
	background-color: inherit;
	width: 10rem;
	height: 3rem;
	margin-right: 3.5;
}

.quiz-container {
	border-radius: 10px;
	box-shadow: 0 10px 2px rgba(100, 100, 100, 0.15);
	width: 700px;
	overflow: hidden;
	height: 1000px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20rem;
}

.quiz-header {
	padding: 4rem;
	margin-top: 1px;
	text-align: center;
}

h2 {
	padding: 1rem;
	text-align: center;
	margin: 0;
	height: 60px;
	width: 180px;
	max-width: 600px;
	font-size: small;
	border-radius: 29px;
	border: 0px;
	justify-content: center;
	margin-bottom: 4rem;
}

ul {
	list-style-type: none;
	padding: 0;
}

ul li {
	font-size: 1.2rem;
	margin: 1rem 0;
	width: 570px;
	height: 40px;
	text-align: left;
	/* text-align: start; */
}

ul li label {
	cursor: pointer;
}

button {
	background-color: #9337be;
	color: #fff;
	border: none;
	width: 15rem;
	cursor: pointer;
	font-size: 1rem;
	font-family: inherit;
	padding: 1rem;
	text-align: center;
	border-radius: 20px;
}

#levelUpBtn {
	background-color: #9337be;
	color: #fff;
	border: none;
	width: 15rem;
	cursor: pointer;
	font-size: 1rem;
	font-family: inherit;
	padding: 1rem;
	text-align: center;
	border-radius: 20px;
	margin-left: 70px;
}

#startBtn {
	background-color: #9337be;
	color: #fff;
	border: none;
	width: 15rem;
	cursor: pointer;
	font-size: 1rem;
	font-family: inherit;
	padding: 1rem;
	text-align: center;
	border-radius: 20px;
	margin-left: 180px;
}

button:hover {
	background-color: #732d91;
}

ul li:focus {
	outline: none;
	background-color: #f3f0f5;
}

ul li:hover {
	background-color: #f3f0f5;
	border-radius: 30px;
}
#question {
	height: 80px;
	width: 30rem;
	max-width: 600px;
	color: #fff;
	background-color: #9337be;
	border-radius: 29px;
	border: 0px;
	padding: 20px 24px;
	font-family: inherit;
}

.submitBtn Button:focus {
	outline: none;
	background-color: #9337be;
}

.submitBtn button:hover {
	background-color: #401354;
	align-content: space-between;
}

.btn_best button {
	background-color: inherit;
	color: #fff;
	border: 1px solid #9337be;
	width: 500px;
	height: 60px;
	display: block;
	border-radius: 20px;
	margin-top: 30px;
	margin-left: 95px;
	margin-bottom: 0%;
	font-family: inherit;
	margin-inline: auto;
	justify-content: center;
	cursor: none;
}
